.taskcard-wrapper {
    position: absolute;
    z-index: 3;
}

.viewer {
    margin: 50px 12%;

    &-container {
        position: relative;
        width: 100%;
        height: 80vh;
    }
}


@media (max-width: 620px) {
    div {
        .taskcard-wrapper {
            width: 100%;
        }

        .viewer {
            margin: 20px 5%;
        }
    }
    
}