.services {
    padding: 105px 50px 0;
    text-align: center;

    h1 {
        font-size: 34px;
    }

    h2 {
        margin-top: 30px;
        font-size: 20px;
    }

    &__form {
        margin: 50px auto 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        max-width: 700px;
        text-align: left;

        &-single {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                margin-bottom: 5px;
            }

            p[name='total'] {
                font-weight: 400;
            }

            label {
                position: relative;
                display: flex;
                gap: 10px;
                font-size: 12px;
                line-height: 20px;

                div {
                    position: absolute;
                    padding: 2px 10px;
                    background-color: #ffffff;
                    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
                    font-size: 10px;
                    transform: translateX(-50%);
                }
            }

            input[type='radio'] {
                position: relative;
                appearance: none;
                -webkit-appearance: none;
                height: 1.25em;
                width: 1.25em;
                border-radius: 50%;
                border: solid thin rgba(166, 166, 166, 0.4);
                transform: translateY(2px);
                transition: 220ms ease-in-out;
                cursor: pointer;

                &::before {
                    position: absolute;
                    top: 20%;
                    left: 24%;
                    content: "";
                    width: 0.65em;
                    height: 0.65em;
                    border-radius: 50%;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    background-color: #3D3D3D;
                }

                &:checked {
                    border: solid thin #3D3D3D;

                    &::before {
                        transform: scale(1);
                    }
                }
            }

            input[type='range'] {
                margin-top: 35px;
                appearance: none;
                -webkit-appearance: none;
                width: 100%;
                height: 1px;
                background-color:rgba(166, 166, 166, 0.4);
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                background-image: linear-gradient(#3D3D3D, #3D3D3D);
                background-size: 50% 100%;
                background-repeat: no-repeat;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background: #3D3D3D;
                }
            }

            datalist {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
            }
              
            option {
                padding: 0;
                font-size: 10px;
            }

            input[type="checkbox"] {
                appearance: none;
                display: grid;
                place-content: center;
                width: 1.25em;
                height: 1.25em;
                border: 0.15em solid rgba(166, 166, 166, 0.4);;
                border-radius: 0.15em;
                cursor: pointer;
                transform: translateY(0.10em);

                &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    background: #3D3D3D;
                    background-color: CanvasText;
                    clip-path: polygon(21% 40%, 21% 40%, 8% 54%, 25% 68%, 36% 77%, 47% 65%, 48% 64%, 64% 47%, 75% 35%, 93% 13%, 81% 4%, 36% 54%);
                }

                &:checked {
                    border: solid thin #3D3D3D;

                    &::before {
                        transform: scale(1);
                    }
                }
            }

            input[type="area"] {
                height: 100px;
            }
        }

        &-input {
            position: relative;
            padding: 0px 20px;
            height: 50px;
            font-size: 14px;
            border: solid thin #8D8D8D;
            border-radius: 10px;
            outline: none;

            &::placeholder {
                font-size: 12px;
                color: rgba(166, 166, 166, 0.8);
            }
        }

        textarea {
            padding: 10px 20px;
            resize: vertical;
            min-height: 100px;
            
            &:not(:focus) {
                resize: vertical;
            }
        }

        h3 {
            font-size: 18px;
            font-weight: 300;
            text-align: center;
        }

        &-button {
            text-align: center;

            button {
                margin: 0 auto;
                display: inline-block;
                padding: 10px 50px;
                color: #3D3D3D;
                border: solid thin #3D3D3D;
                border-radius: 30px;
                transition: .3s ease;
                
                &:hover {
                    color: #ffffff;
                    background-color: #3D3D3D;
                }
            }
        } 
    }
}

@media (max-width: 991px) {
    .services {
        input[type='radio'] {
            &::before {
                top: 20%;
                left: 20%;
            }
        }
    }
}

@media (max-width: 660px) {
    .services {
        padding: 105px 15px 0;

        button {
            &:hover {
                color: inherit;
                background-color: inherit;
            }
        }
    }
}