.overview {
    p {
        color:#000000;
    }
    
    &__info {
        border-radius: 10px;
        background-color: #F6F6F6;

        &-part {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-status {
                padding: 7px;
                width: 70%;
                color: #ffffff;
                text-transform: uppercase;
                background-color: #F098FE;
                border-radius: 10px;
            }

            &-value {
                padding: 7px 20px;
                color: #ffffff;
                background-color: #3D3D3D;
                border-radius: 10px;
            }

            &-date {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 600;

                p {
                    color: #000000;
                }
            }
        }
    }

    &__alarm {
        margin-top: 20px;
        padding: 5px 7px;
        display: flex;
        align-items: flex-start;
        background-color: #FFEEEE;
        border-radius: 10px;

        p {
            text-align: left;
            padding: 15px 15px 15px 10px;
        }
    }

    &__model {
        margin-top: 40px;
        height: 300px;
    }
}