.home-btn {
    position: fixed;
    top: 25px;
    left: 20px;
    transition: .3s;
    z-index: 50;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 660px) {
    .home-btn {
        &:hover {
            transform: none;
        }
    }
}