.contacts {
    margin: 0 auto;
    padding: 105px 10px 0;
    max-width: 1100px;
    text-align: center;

    h3 {
        margin-top: 35px;
    }

    &__means {
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        gap: 30px;

        div {
            img {
                margin: 0 auto;
                width: 50px;
            }

            p, a {
                margin: 30px;
                font-size: 12px;
            }
        }
    }

    h2 {
        font-size: 32px;
    }

    &__media {
        margin-top: 75px;

        div {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;

            a {
                width: 50px;
            }
        }
    }

    &__form {
        margin-top: 75px;

        &-wrapper {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 15px;
            height: 50px;
        }

        &-input {
            position: relative;
            padding: 0px 20px;
            width: 150px;
            height: 100%;
            font-size: 14px;
            border: solid thin #3D3D3D;
            border-radius: 10px;
            outline: none;

            &::placeholder {
                font-size: 12px;
                color: rgba(166, 166, 166, 0.8);
            }
        }

        &-button {
            text-align: center;

            button {
                margin: 0 auto;
                display: inline-block;
                padding: 10px 50px;
                height: 100%;
                font-size: 12px;
                color: #3D3D3D;
                border: solid thin #3D3D3D;
                border-radius: 30px;
                transition: .3s ease;
                
                &:hover {
                    color: #ffffff;
                    background-color: #3D3D3D;
                }
            }
        } 
    }
}

@media (max-width: 991px) {
    .contacts {
        &__means {
            flex-direction: column;
        }

        &__form {  
            &-wrapper {
                flex-direction: column;
                align-items: center;
                height: fit-content;
            }

            &-input {
                width: 100%;
                max-width: 700px;
                height: 50px;
            }

            &-button {
                width: 100%;
                max-width: 700px;
                
                button {
                    height: 50px;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 660px) {
    .contacts {

        h1, h2 {
            font-size: 28px;
        }

        &__form {
            &-button {
                button {
                    &:hover {
                        color: inherit;
                        background-color: inherit;
                    }
                }
            }
            
        }
        
    }
}