.policy {
    margin: 105px auto;
    padding: 0 10px;
    max-width: 700px;
    line-height: 25px;

    ul {
        list-style: none;
    }

    a {
        color: red;
    }

    span {
        font-style: italic;
    }
}